<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <style>#addbutton { justify-content: center; align-items: center; text-align: center; position: center; }</style>
    <title>Main-SPX</title>
    <!-- Bootstrap core CSS -->
    <link href="../static7/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../static7/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../static3/theme.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <script>
        function change(){
            const day=document.getElementById('day');
            const date=new Date();

            var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

            day.textContent=date.getDate()+", "+days[date.getDay()];

            const monthyear=document.getElementById('monthyear');

            const monthNames = ["January", "February", "March", "April", "May", "June",
                "July", "August", "September", "October", "November", "December"
            ];
            monthyear.textContent=monthNames[date.getMonth()]+" | "+date.getFullYear();

            // var width=parseInt($(document).width());

            // if(width<=1200){
            //     document.getElementById("M").textContent="M";
            //     document.getElementById("Thue").textContent="T";
            //     document.getElementById("W").textContent="W";
            //     document.getElementById("Thur").textContent="T";
            //     document.getElementById("F").textContent="F";
            // }
            // else{
            //     document.getElementById("M").textContent="Monday";
            //     document.getElementById("Thue").textContent="Thuesday";
            //     document.getElementById("W").textContent="Wednesday";
            //     document.getElementById("Thur").textContent="Thursday";
            //     document.getElementById("F").textContent="Friday";
            // }

        }

    </script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body role="document" onload="change()">
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">SPx</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li >
                    <li>
                        <a ><form method="GET" action="rendertotheme"> 
                            <button type="submit" class="navbar-collapse collapse" style="background-color: transparent; border-color: transparent;">Home</button>                 
                        </form></a>
                    </li>
                </li>
                <li>
                    <a href="/index">Chat</a>
                </li>
                <li>
                    <a href="http://localhost:3002">Call</a>
                </li>
                <li class="active">
                    <a href="/documents">Documents</a>
                </li>
                <li>
                    <a href="/calendar">Calendar</a>
                </li>
                <li>
                    <a href="/blog">Contact</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Settings</a>
                        </li>
                        <li>
                            <a href="#">Another action</a>
                        </li>
                        <li>
                            <a href="#">Something else here</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li>
                            <a href="#">Separated link</a>
                        </li>
                        <li>
                            <a href="#">One more separated link</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
        <p style="text-align: right; margin-top: -35px;"><a href="/sign-in" style="color: white; text-decoration: none;">Logout&nbsp;&nbsp;<img src="../static3/ausloggen.png" width="25"></a></p>
    </div>
</nav>


<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <h1>My Files</h1>
        <h2 id="day" style="text-align:right">Day</h2>
        <p id="monthyear" style="text-align:right"><span style="color: inherit; font-family: inherit; font-size: 30px;">Month</span><br></p>
    </div>

    <input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for data.." title="Type in a name">
    
    <ul id="myUL">
      <% data.forEach(doc => { %>
      <p>
        <li><a href="<%=doc.data%>" download="<%=doc.name%>.<%=doc.filetype%>"> 
            <img src="<%=doc.data%>" width="50px" alt="">
            <%=doc.name%>.<%=doc.filetype%>
          </a></li>
      </p>
      <% }) %>
    </ul>

    
<script>
    function myFunction() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
    </script>
    

<br>
<br>
<br>
<br>
<br>
<br>


   <details close>
       <summary ><font size="5">Upload your file</font></summary>
       <br>
       <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="File Name.." class="form-control" style="width: 15%;" />
        <input type="text" name="filetype" placeholder="File type.." class="form-control" style="width: 15%;" />
        <input type="file" name="uploadedFile" /> <br /> <br />
        <input type="submit" value="Upload File" />
    </form>
   </details>
   <br>
   <details close>
    <summary ><font size="5">Remove your file</font></summary>
    <br>
    <form action="/removefile" method="POST" enctype="multipart/form-data">
     <input type="text" name="name" placeholder="Only Filename.." class="form-control" style="width: 15%;" />
     <!-- <input type="text" name="filetype" placeholder="File type.." /><br /> -->
     <!-- <input type="file" name="uploadedFile" /> <br /> <br /> -->
     <input type="submit" value="Remove File" />
    </form>

</details>
    
</div>


<!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../static7/assets/js/jquery.min.js"></script>
<script src="../static7/bootstrap/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../static7/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>